<body>
  <div>
    <p>This is your current shopping cart</p>
    <p *ngIf="data.length == 0; else elseBlock">
      Your shopping cart is currently empty!<br />
      Perhaps you should add some items in here.
    </p>
    <ng-template #elseBlock>
      Your shopping cart currently has {{data.length}} item(s)!

      <div *ngFor="let prod of data; i as index">
        {{prod.name}}
        <button mat-raised-button (click)="onRemove(i)">Remove</button>
      </div>

    </ng-template>


    <button mat-raised-button (click)="onCheckout()">Checkout</button>


  </div>


</body>
