<div id="container">
    

    <div id="top">
        <div id="shopWomens" style="float:left;width:30%">
            <button mat-button (click)="onShopWomens()" color="primary">
                SHOP WOMEN
            </button>
            <img src="../../assets/img/model01.jpg" />
        </div>
        <div id="shopMens" style="float:right;width:30%">
            <button mat-button (click)="onShopMens()" color="primary">
                SHOP MEN
            </button>
            <img src="../../assets/img/model02.jpg" />
        </div>
        </div>
 
    <div>
        <h2><span></span></h2>
     <h3>
         About Our Brand
     </h3>
     <p>
         Keeping you effortlessly stylish throughtout the day lies at the core of what we do.
         At Jack's Apparel, we've made it our mission to provide simple, affordable wardrobe staples to all different senses of style. We've got the looks you want in the colors and sizes you need.
         Launched in 2020, Jack's Apparel offers a wide range of apparel to fit a casual but yet pleasing sense of style. Our clothing are carefully curated to provide our custonmers the latest fashions.
         At Jack's Apparel, we want you to be comfortable, confident, and carefree - in what you wear and how you shop. Let us dress your every day.

     </p>
       
    </div>
    

      

      

  
</div>
