<div id="container">
    

    <div id="top">
        <div id="shopWomens" style="float:left;width:30%">
            <button mat-button (click)="onShopWomens()" color="primary">
                shop women
            </button>
            <img src="../../assets/img/model01.jpg" />
        </div>
        <div id="shopMens" style="float:right;;width:30%">
            <button mat-button (click)="onShopMens()" color="primary">
                SHOP MEN
            </button>
            <img src="../../assets/img/model02.jpg" />
        </div>
    </div>
    <div id="bottom">
        <div style="clear:both;float:left">
            <img src="../../assets/img/model02.jpg" width="15%" />
            <img src="../../assets/img/model01.jpg" width="15%" />
            <img src="../../assets/img/model02.jpg" width="15%" />
            <img src="../../assets/img/model01.jpg" width="15%" />
            <img src="../../assets/img/model02.jpg" width="15%" />
            <img src="../../assets/img/model01.jpg" width="15%" />
        </div>
    </div>
</div>
