<body>
  <div>
    You searched for {{searchString}}.
  </div>
  <div>
    exact products
    <mat-card *ngFor="let product of exactProductList; index as i" (click)="onClickExactProduct(i)">
    
      <mat-card-header>
        <mat-card-title>
          {{product.name}}
        </mat-card-title>
      </mat-card-header>

      <img mat-card-img src="{{product.img}}" />
      <mat-card-footer>
        Price: ${{product.price}}
      </mat-card-footer>
    </mat-card>

  </div>
  <div>

    Related products
    <mat-card *ngFor="let product of relatedProductList; index as i" (click)="onClickRelatedProduct(i)">
  
      <mat-card-header>
        <mat-card-title>
          {{product.name}}
        </mat-card-title>
      </mat-card-header>

      <img mat-card-img src="{{product.img}}" />
      <mat-card-footer>
        Price: ${{product.price}}
      </mat-card-footer>
    </mat-card>

  </div>
</body>
