<body>
  <div class="searchContainer">
    You searched for {{searchString}}.
  </div>
  <br />
  <div *ngIf="exactProductList.length == 0; else elseBlock">
    Sorry! We could not find anything for {{searchString}}
  </div>


  <ng-template #elseBlock>
    <mat-card *ngFor="let product of exactProductList; index as i" (click)="onClickExactProduct(i)" class="prodDisplay">

      <mat-card-header>
        <mat-card-title>
          {{product.name}}
        </mat-card-title>
      </mat-card-header>

      <img mat-card-img src="{{product.img}}" />
      <mat-card-footer>
        Price: ${{product.price}}
      </mat-card-footer>
    </mat-card>
  </ng-template>

  <br />


  Here are some related products!

  <br />
  <div class="relatedProd">




    <mat-card *ngFor="let product of relatedProductList; index as i" (click)="onClickRelatedProduct(i)" class="prodDisplay">

      <mat-card-header>
        <mat-card-title>
          {{product.name}}
        </mat-card-title>
      </mat-card-header>

      <img mat-card-img src="{{product.img}}" />
      <mat-card-footer>
        Price: ${{product.price}}
      </mat-card-footer>
    </mat-card>

  </div>
</body>
