.header{
    background-color:black;
    border-bottom: 2px solid gold;
    height: 10%;
}

.header a {
    color: white;
    font-size: 3.5em;
}


button:hover{
    color:gold;
    text-decoration:underline;
    text-decoration-color:gold;
}

nav a:hover{
    color:gold;
}

.navBar{
    background-color: gray;
    border-bottom: 2px solid gold;
}

nav a{
    color:white;
    width: 15%;
}

nav button{
    width:15%;
}

button{
    color:white;
}

.menuHeader{
    border-bottom:1px solid black;
    font-weight: bold;
}

.menuItem{
    border-bottom:1px solid black;
}

img{
    max-height:100%;
}

.womens button{
    background-color: gray;
}
    






